cffi==1.15.1 ; python_version >= "3.9" and python_version < "4.0"
cryptography==42.0.4 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.9" and python_version < "4.0"
